{{ define "head" }}
<meta property="og:title" content="{{.Params.title}} - {{ .Site.Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:site_name" content="{{ .Site.Title }}"/>
<!-- <meta property="og:image" content="http://my.site.com/images/thumb.png" /> -->

{{ if .Params.og_image }}
<meta property="og:image" content="{{ .Params.og_image | absURL }}"/>
{{ else }}
<meta property="og:image" content="{{ .Site.Params.og_image | absURL }}"/>
{{ end }}

<meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}" />
<meta name="theme-color" content="#FF0000">
{{ end }}
{{ define "main" }}
	<main>
		<article>
			<h1>
				<!-- I need to put it on one line to prevent rendering with a space -->
				{{ .Title }}{{ if isset .Params "tagline" }}:
				{{ .Params.tagline }}
				{{ end }}
			</h1>
			<div>
				{{ partial "event/parts/date.html" . }}
				{{ partial "event/parts/time.html" . }}
				{{ partial "event/parts/location.html" . }}
				{{ partial "event/parts/categories.html" . }}
			</div>
			<hr>
			<div>
				{{ .Content }}
			</div>
		</article>
	</main>
{{ end }}
