@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400&display=swap');

body,
html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #121212;
    color: #e1e1e1;
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    scrollbar-width: thin;
}
h1,h2,h3,h4,.navlink,span#title{
    font-family: 'IBM Plex Mono', ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}
span#title{
    padding: 10px 0px;
}
main img{
    max-width: 800px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0px;
}

div#left {
    padding: 20px;

}

div#center {
    padding: 20px;

}

div#right {
    padding: 20px;
}

/* Navigation links on left bar */
a.navlink {
    display: block;
    width: max-content;
    text-decoration: none;
    padding: 2px 4px;
    margin: 2px 8px;
    color: #d2d2d2;

}
a.navlink:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

a.category{
    background-color: rgb(62, 62, 62);
    border-radius: 4px;
    padding: 1px 5px;
    color: white;
    text-decoration: none;
    margin: 0px 6px 0px 0px;
}
a.category.talk{
    background-color: #5d5dcb;
}
a.category.workshop{
    background-color: #8f6f2a;
}
a.category.cyber101{
    background-color: #cb4949;
}



/* Resize - desktop */

/* medium - hide right bar completely */

@media  screen and (max-width: 900px) and  (min-width: 520px ) {
    div#right {
        display: none;
    }
} 

/* wide - show everything */

@media  screen and not (max-width: 520px) {
    div#container {
        display: flex;
        flex-direction: row;
        height: 100%;
    }

    div#left {
        flex: 0 0 280px;
    }
    div#center {
        flex-grow: 1;
        overflow: auto;
    }
    div#right {
        flex: 0 0 300px;
        overflow: auto;
    }
}

/* narrow - vertical stack */

@media screen and (max-width: 520px) {
    div#container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}


h4.eventtitle{
    padding: 5px 0px;
    margin: 0px;
    font-size: 1.1em;
}
span.eventdate{
    font-style:italic;
}
