$width-mobile : 520px;

/* narrow - vertical stack */

@media only screen and (max-width: $width-mobile) {
    #container {
        display: grid;
        grid-template-columns: 100%;
        gap: 0px 0px;
        grid-template-areas:
            "top"
            "main"
            "events"
            "bottom";
    }

    #top,
    #bottom,
    #center,
    #events {
        padding: 10px 25px;
    }
}

/* wide */

@media only screen and (min-width: $width-mobile) {

    #container {
        display: grid;
        grid-template-columns: 300px 1fr 350px;
        gap: 0px 0px;
        grid-template-areas:
            "top main events"
            "bottom main events";
        height: 100%;
    }

    div#center {
        margin: 40px;
    }

    div#events,
    div#top,
    div#bottom {
        padding: 40px;
    }
}


#main {
    grid-area: main;
    overflow: auto;
}

#events {
    grid-area: events;
    overflow: auto;
}

#top {
    grid-area: top;
    overflow: auto;

}

#bottom {
    align-self: end;
    grid-area: bottom;
    overflow: auto;

}