$bg-color:  #191922;
$bg-left-color: #121217;
$bg-alt: #16161C;
$highlight-color: #9CAFFF;
$text-color: white;
$orange-light: #F98948;

$font: 'Inter';

// $sans-font: 'IBM Plex Sans';
// $mono-font: 'Jetbrains Mono', ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;