$bg-color:  #202030;
$bg-alt: #1d1d29;
$text-color: #CFCBCA;
$orange-light: #F98948;

$sans-font: 'IBM Plex Sans';
$mono-font: 'Jetbrains Mono', ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;