{{ define "main" }}
<main>
    <h1>Home</h1>
    <p>The official website for IC CyberSoc!</p>
    <img src="https://blogs.imperial.ac.uk/photography/files/2017/09/blue_twoer_1700.jpg" title="Imperial - High Above Queens Tower, Image © Thomas Angus, Imperial College London" alt="Imperial - High Above Queens Tower, Image © Thomas Angus, Imperial College London" style="width: 70%"/>
    <h2>README</h2>
    <p>To learn about us and how to join, please visit the <a href="/about/">About Page</a>.</p>
    <p>For committee information, please visit the <a href="/committee/">Committee Page</a>.</p>
    <p>
        To see all our events, please visit the <a href="/events/">Events Page</a>.<br>
        Our 5 closest upcoming events are displayed on the eventbar :)
    </p>
    <p>
        Currently we can only offer membership to Imperial students, but in time, we may support different membership levels.
    </p>
</main>
{{ end }}
