<!DOCTYPE html>
{{"<!--" | safeHTML}}
{{ partialCached "headercomment.html" . }}
{{"-->" | safeHTML}}
<html lang="{{ .Site.LanguageCode | default " en-us" }}">
<head>
	<meta charset ="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ if .IsHome }}Home - {{ else }}{{ if .Page.Title }}{{ .Page.Title }} - {{ end }}{{ end }}{{ .Site.Title }}</title>
	{{ $style := resources.Get "/sass/main.scss" | css.Sass | resources.Minify | resources.Fingerprint }}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
	<!-- {{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }} -->
	<link rel="icon" href="/favicon.ico">
	{{ block "head" . }}{{ end }}
</head>
<body>
	<div id="container">
		{{ partialCached "leftbar" . }}
		<div id="center">
			{{ block "main" . }}{{ end }}
		</div>
		<div id="events">
			{{ partialCached "eventbar" . }}
		</div>
	</div>
</body>

</html>
