<!-- <p ><i>This website really doesn't work look great on mobile - try it on a desktop instead! </i>  </p> -->
<div id="logobox" style="height: 120px; background-color: black;">
    ICSC LOGO GOES HERE!
</div>
<span id="title" style="font-size: 1.45em; font-weight: bold;">Imperial College Cybersec Soceity</span>
<div id="links" style="flex-grow: 1;">
    <a class="navlink" href="/">> Home</a>
    <a class="navlink" href="/about">> About</a>
    <a class="navlink" href="/events">> Events</a>
    <a class="navlink" href="/contact">> Contact</a>
    <a class="navlink" href="/team">> CTF Team</a>
    <a class="navlink" href="https://www.imperialcollegeunion.org/">> Join <i></i></a>

</div>
<div id="footer">
    <div id="sponsors">
        <p>Sponsors:</p>
        <a class=" navlink" href="mailto:mail@example.com">pls sponsor us</a>
    </div>
    <div id="thanks">
        <p>Thanks To:</p>
        <img src="/images/icu.svg" style="max-width: 100px;"  alt="Imperial College Union Logo">
    </div>
    <br><img alt="Creative Commons Licence" style="border-width:0;" width="80" height="15" src="/images/by-nc-sa.png">
    <br><img alt="Valid HTML5" style="border-width:0;" width="80" height="15" src="/images/valid_html5.png">

    <!-- <br><i style="font-size: 0.8em; color: rgb(175, 175, 175); padding-top: px;">(x licensed, unless otherwise indicated) </i> -->

</div>