@mixin ccol($baseColor) {
    background-color: $baseColor;
    &:any-link:hover {
        background-color: darken($baseColor, 10%);
    }
}

.category {
    border-radius: 5px;
    padding: 1px 5px;
    margin: 0px 6px 0px 0px;
    color: white;
    @include ccol(#6f6f6f);

    &.arg {
        @include ccol(#00710b);
    }
    &.ctf {
        @include ccol(#2b9294);
    }
    &.discussion {
        @include ccol(#5acd5e);
    }
    &.talk {
        @include ccol(#dd7334);
    }
    &.workshop {
        @include ccol(#5d5dcb);
    }
    &.cs101 {
        @include ccol(#d94a65);
    }
    &.cs102 {
        @include ccol(#5047da);
    }
    &.cs201 {
        @include ccol(#ce2745);
    }
    &.cs202 {
        @include ccol(#2e17de);
    }
    &.social {
        @include ccol(#b783c7);
    }
    &.quiz {
        @include ccol(#c78f40);
    }
    &.competition {
        @include ccol(#c030ca);
    }
    &.conference {
        @include ccol(#af8d2e);
    }
    &.collab {
        @include ccol(#42ab8f);
    }
    &.misc {
        @include ccol(#1c1c1c);
    }
    &.iku {
        @include ccol(#793bb8);
    }
    //#437D9F
    
}