@mixin ccol($baseColor) {
    background-color: $baseColor;
    &:any-link:hover {
        background-color: darken($baseColor, 10%);
    }
}

.category {
    border-radius: 5px;
    padding: 1px 5px;
    margin: 0px 6px 0px 0px;
    color: white;
    @include ccol(#6F6F6F);

    &.talk {
        @include ccol(#5d5dcb);
    }
    &.workshop {
        @include ccol(#DD7334);
    }
    &.cyber101 {
        @include ccol(#D94A65);
    }
    &.social {
        @include ccol(#7e528b);
    }
    //#437D9F
    
}