@import "categories.scss";

h3.eventtitle{
    font-size: 22px;
    color: white ;
}


div.eventbox{
    border: 1px solid #D4D4D4; 
    border-radius: 20px; 
    padding: 5px 25px; 
    margin: 20px 0px;
    background-color: $bg-alt;
    // box-shadow: -1px 1px 81px -48px rgba(0,0,0,0.75);


    &:hover{
        background-color: darken($bg-alt,5%);
    }
}


div.eventpart{
    *{
        vertical-align: middle;
    }
    padding-bottom: 5px;

}

hr.eventbarseparator{
    margin-top: 20px ;
}

table.events {
    width: 100%;

    tr{
        padding: 10px 0px;
    }
    td{
        padding: 0 5px;
        font-size: 18px;
        color: white;
    }
    tr:nth-child(even){
        background-color: $bg-alt;
    }
    tr:nth-child(odd){
        background-color: $bg;
    }
    tr:hover{
        background-color: darken($bg-alt, 5%);
    }
}
